main > section > h1{text-align: center}
body{background-color: blue
}

nav > ul > li {display:inline;
    border:solid 3px red;
    text-align: center;
    padding: 5px;
    margin: 125px;
}
#hero {
    width:1500px;
    height:500px;
    
section > P {font-family: fantasy;}
