main > section > h1{text-align: center}
body{background-color: bisque
}

nav>ul>li {display:inline;
    text-align: center;
    padding: 5px;
    margin: 135px;
    font-family: cursive;
}

#hero {
    width:1500px;
    height:500px;}
    
section>p> {font-family: fantasy;}
